body {
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: 'Playfair Display', serif;
    color: #fff;
}

#hero {
    /*  width: 800px;*/
    /*  height: auto;*/
    height: 600px;
    /*test*/
    overflow: hidden;
    position: relative;
}

#content {
    background-color: black;
    height: 5000px;
}

.layer {
    background-position: bottom center;

    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    /*test*/
    position: fixed;
    z-index: -1;
    /*    min-height: auto;*/
/*    -webkit-background-size: cover;*/
/*    -moz-background-size: cover;*/
/*    background-size: cover;*/
/*    -o-background-size: cover;*/
    /*    background-attachment: fixed;*/
}

.layer-bg {
    background-image: url('img/sky.jpg');
      background-size: cover;
}

.layer-1 {
    background-image: url('img/05.png');
    background-position: top;
    /*  background-position: left bottom;*/
    /*  background-size: cover;*/
    background-size:contain ;
/*    top:-20px;*/
}

.layer-2 {
    background-image: url('img/04.png');
    background-position: top;
    background-size:contain ;
}

.layer-3 {
    background-image: url('img/03.png');
    /*  background-position: right bottom;*/
    background-position: bottom;
    background-size:contain ;
}

.layer-4 {
    background-image: url('img/02.png');
    background-position: bottom;
    background-size:contain ;
}

.layer-5 {
    background-image: url('img/01.png');
    background-position: bottom;
    background-size:contain ;
}

.layer-6 {
    background-image: url('img/06.png');
    background-position: top;
    background-size:contain ;
}


/*
.layer-overlay {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_overlay.png");
}
*/

.first-section {
    padding: 50px 0 20px 0;
}

.text-header {
    font-size: 50px;
    text-align: center;
}

#title{
    text-align: center;
    font-size: 70px;
    color: white;
    margin: 10px;
}

h1 {
    line-height: 120%;
    margin-bottom: 30px;
}

p {
    color: #ede0d5;
    font-size: 18px;
    line-height: 150%;
}

#hero,
.layer {
    min-height: 600px;
    /*test*/
}


/*
#hero-mobile {
  display: none;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/full_illustration.png") no-repeat center bottom/cover;
  height: 320px;
}

@media only screen and (max-width: 768px) {
  #hero {
    display: none;
  }

  #hero-mobile {
    display: block;
  }
}*/